[build]
  command = "npm install && npm run build"
  publish = "dist"
  [build.environment]
    NODE_VERSION = "20"
    NPM_FLAGS = "--legacy-peer-deps"
  [build.image]
    node = "20"
  
[dev]
  command = "npm run dev"
  port = 3000
  publish = "dist"
